::-moz-selection {
  color: var(--color-secondary);
  background: var(--color-primary);
}

::selection {
  color: var(--color-secondary);
  background: var(--color-primary);
}

body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

p,
ul,
li,
ol,
span,
div,
table {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

a {
  font-family: var(--font-primary);
  color: var(--color-primary);
}
